<!-- <style>
ul li{
  display: inline;
}
</style> -->
<div class= "header">
  <ul class= "header-items">
    <li class = "task"><a href="#" routerLink = "/myTask">My Task</a></li>
    <li class = "focus"><a href= "#" routerLink = "/focus">Focus Mode</a></li>
    <li class = "history"><a href="#" routerLink = "/history">History</a></li>
    <li class = "settings"><a href="#" routerLink = "/settings">Settings</a></li>
    <li class = "login"><a href="#" routerLink = "/login">Login</a></li>
    <li class = "widgets"><a href="#" routerLink = "/widgets">Widgets</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
<app-alerts></app-alerts>
