<div class="task-page">
    <div class="date">
            <table>
                <tr>
                    <td class="fa fa-arrow-circle-o-left" id="demo"style="font-size:36px;margin-top: 35px; margin-left:540px;" (click)="previous()"></td>&nbsp;
                    <td  style="font-size:26px;position: relative;top:17px;">{{dateTime}}</td>
                    <td class="fa fa-arrow-circle-o-right" style="font-size:36px;margin-top: 35px; margin-left:10px;" (click)="next()"></td>
                </tr>
            </table>
    </div>
    <div class="tasks">
        <h3 style="position: relative;top: 25px; left: 4%;font-family: 'Times New Roman', Times, serif">{{task}}</h3>
        <ul id="myList"></ul>
        <br>
        <input type="text" placeholder="Enter your first work to do..." [(ngModel)]= "myValue" autofocus="autofocus" (keyup)="addTask($event)" style="width:95%; height:40px;margin-left:10px;background-color: #F8F9F9;margin-top:25px;border:none">
    </div>
</div>
