.task-page{
    background: #F2F4F4;
    height:605px;
    margin-top:-1.2%;
}
.task-page .tasks{
    background-color: white;
    width:40%;
    min-height: 25%;
    height:auto;
    position: relative;
    top:8%;
    left:32%;
}
.alertsContainer{
    background: white;
}